<!DOCTYPE html>
<html>
<head>
  <br>
  <br>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class= "navbar">
          <div class ="nabar">
          <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
          <a class="brand" href="#">AghaBook</a>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div>
        </div>
        </div>
        </div>

    <div class="container">
            <%= yield %>
          </div>
</body>
</html>
